/*------------------------------- Common -------------------------------*/

*,
html {
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

body {
    background: $black;
    color: $white;
    overflow-x: hidden;
}

.main {
    min-height: 100vh;

    @include media-breakpoint-up($lg) {
        padding-right: 8rem;
    }
}

.home,
.work-section,
.showcase,
.contact,
.fun {
    padding: $sectionPadding;
    min-height: 100vh;

    @include media-breakpoint-down ($sm) {
        min-height: 100vh;
    }
}

.fun,
.contact {
    &__social {
        text-align: center;

        a img {
            width: 2.5rem;
            height: 2.5rem;

            @include media-breakpoint-down($md) {
                width: 2.25rem;
                height: 2.25rem;
            }
        }
    }
}

p {
    @include default-text;
    margin-bottom: 1.5rem;
}

h1 {
    --size: 4rem;
    font-size: var(--size);
    text-align: center;
}

h2 {
    --size: 3rem;
    font-size: var(--size);
}

h3 {
    --size: 2.5rem;
    font-size: var(--size);
}

h1,
h2,
h3 {
    margin-bottom: 1.5rem;
    line-height: 3.25rem;
    font-family: $Simonetta;
    font-weight: 500;
    text-shadow: 0 2px 8px $black-p5;

    @include media-breakpoint-down($sm) {
        font-size: calc(var(--size) * 0.75);
    }
}

a {
    color: $white;
    text-decoration: none;
}

button {
    position: relative;
    border: 0;
    padding: 0;
    background: white;
    cursor: pointer;
    transform: translateY(0);
    transition: transform .25s ease;

    span {
        @include default-text;
        position: relative;
        z-index: 2;
        padding: 0.75rem;
        display: inline-block;
        font-weight: 400;
        color: $black;
        text-align: center;
    }

    &:hover {
        transform: translateY(-1px);
    }
}

.highlight {
    background-color: $yellow;
    padding: 0 .5rem;
    text-decoration: none;
    font-style: italic;
    color: $black-p5;
    text-shadow: none;
}

/*---------------------------- Common Ends -----------------------------*/
