.contact {
    @include flex(row, space-between, unset);
    padding: 0;
    background: url('../../assets/background/1512-creation-of-adam-michelangelo.png') center / cover no-repeat;

    &__tagline {
        margin: 4rem 1.5rem 0;
        flex: 1;
        text-align: end;

        @include media-breakpoint-down($md) {
            display: none;
        }
    }

    &__form {

        &-wrapper {
            @include flex(column, flex-start, stretch);
            flex: 1;
            padding: 4rem $cardPadding;
            background: $black-p4;
            gap: 3rem;

            @include media-breakpoint-down($md) {
                justify-content: center;
            }
        }

        @include flex(column, center, stretch);
        margin: 0 auto;

        @include media-breakpoint-down($sm) {
            margin: 0;
            text-align: center;
        }
    }

    &__input {

        &-wrapper {
            @include flex();
            padding: 0;
            gap: 1.5rem;

            .error {
                @include default-text;
                margin: -1.2rem 0 0;
                padding: 0 0.25rem;
                background: $black;
                font-size: 1rem;
                color: $red;
            }
        }

        &__text,
        &__textarea {
            @include default-text;
            border: 0;
            border-bottom: 1px solid $yellow-p25;
            display: block;
            padding: 0.5rem;
            width: 100%;
            height: 1.5rem;
            background: none;
            color: $white;

            &:focus,
            &:hover {
                outline: 0;
                border-bottom: $yellow solid 2px;
            }

            &::placeholder {
                color: $white-p7;
            }

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
                -webkit-text-fill-color: $white;
                caret-color: $white;
                transition: background-color 600000s 0s, color 600000s 0s;
            }

            &:autofill {
                background-color: transparent;
                color: $white;
            }
        }

        &__textarea {
            padding: 0 0.5rem 0.5rem;
            height: 6rem;
            scrollbar-color: $yellow-p25 transparent;
        }
    }
}