.header {
    padding: 0 7.5vw;
    text-align: center;

    @include media-breakpoint-up($lg) {
        @include flex();
        position: fixed;
        top: 0;
        right: 0;
        margin: 0;
        padding: 2rem 1rem;
        background-image: url('../../assets/background/1908-the-kiss-klimt.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 8rem;
        height: 100vh;
        gap: 2.5rem;
        z-index: 4;
    }

    @include media-breakpoint-down($lg) {
        flex-direction: column;
        margin-top: 1rem;
    }

    &__logo {
        @include flex();

        @include media-breakpoint-down($lg) {
            width: 100%;
        }

        &-text {
            display: inline-block;
            font: 3rem $Arizonia;
            color: $white;
            text-transform: lowercase;
            cursor: pointer;

            a:hover {
                color: $yellow;
            }
        }

        &-caret {
            margin: 0.75rem 0 0.25rem;
            cursor: pointer;

            @include media-breakpoint-up($lg) {
                display: none;
            }

            &.inverse::after {
                transform: rotate(315deg);
                margin-top: 0.25rem;
            }

            p {
                @include default-text;
                font-size: 0.5rem;
                color: $white;
            }

            &::after {
                position: relative;
                left: -4px;
                top: -7px;
                margin-right: 0.5rem;
                margin-left: 1.0rem;
                border-right: 0.2rem solid $white;
                border-top: 0.2rem solid $white;
                display: inline-block;
                width: 0.35rem;
                height: 0.35rem;
                transform: rotate(135deg);
                content: "";
            }

            &:hover {
                p {
                    color: $yellow;
                }

                &::after {
                    border-color: $yellow;
                }
            }
        }
    }

    &__navigation {
        width: fit-content;

        @include media-breakpoint-down($lg) {
            width: 100%;
        }

        &-links {
            @include flex(column, flex-start, stretch);
            row-gap: 1.5rem;
            cursor: default;

            @include media-breakpoint-down($lg) {
                margin-bottom: 1.5rem;
                border: 1px solid $yellow-p25;
                padding: 1rem;
                flex-direction: column;
                row-gap: 0.75rem;
                max-height: 40rem;
                opacity: 1;
                transition: max-height 0.3s ease-in-out;

                &.d-none {
                    margin: 0;
                    padding: 0;
                    max-height: 0;
                    opacity: 0;
                    gap: 0;

                    li {
                        height: 0;
                    }
                }
            }

            li {
                @include default-text;
                display: inline-block;
                font-size: 1.1rem;
                color: $white;
                transition: all 0.3s ease-in-out;
                cursor: pointer;

                &:hover a {
                    color: $yellow;
                }

                @include media-breakpoint-down($lg) {
                    font-size: 0.75rem;
                    text-transform: none;
                }
            }
        }
    }
}