.home {
    @include flex();
    background: url('../../assets/background/1889-irises-van-gogh.jpg') center / cover no-repeat;

    &__bio {
        @include flex(row, unset, flex-end);
        @include card;
        padding: $cardPadding $cardPadding 0;
        width: 100%;
        color: $black;

        @include media-breakpoint-down($lg) {
            align-items: unset;
        }

        @include media-breakpoint-down($md) {
            flex-direction: column;
            align-items: flex-end;
        }

        &__picture {
            img {
                position: relative;
                right: -$cardPadding;
                margin-top: 0.5rem;
                display: block;
                width: 15rem;
                height: auto;

                @include media-breakpoint-down($lg) {
                    content: url('../../assets/personal-pictures/home-full-picture.png');
                }

                @include media-breakpoint-down($md) {
                    content: url('../../assets/personal-pictures/home-picture.png');
                }
            }
        }
    }
}