.archive {
    background: $la-db-bl-le;
    padding: 2rem 7.5vw;

    &__card {
        background-color: #000;
        width: 7.5rem;
        height: 15rem;

        &-wrapper {
            display: flex;
            justify-content: space-between;
        }
    }
}