.archive {
    // @include border;
    border-left: 0;
    border-right: 0;
    padding: 1.5rem 7.5vw;
    background: $background-image;

    &__card {
        background-color: #000;
        width: 7.5rem;
        height: 15rem;
        margin: 0 1rem;

        &-wrapper {
            display: flex;
            position: relative;
        }
    }

    .slick-list {
        overflow: hidden;
        mask-image: linear-gradient(90deg, $trans 0%, $black 12.5%, $black 50%, $black 87.5%, $trans 100%);
        -webkit-mask-image: linear-gradient(90deg, $trans 0%, $black 12.5%, $black 50%, $black 87.5%, $trans 100%);
    }

    .slick-track {
        display: flex;
    }

    .slick-arrow {
        position: relative;

        &::before {
            position: absolute;
            padding: .5rem 0.75rem;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            background: $db-dv-le-to;
            transition: all 0.4s ease-in-out;
            color: $black;
        }

        &:hover::before {
            background: $black;
            color: $pink;
        }
    }

    .prev::before {
        transform: translate(-100%, -50%);
        left: -1rem;
    }

    .next::before {
        left: 1rem;
    }
}