.blog {
    margin: 0 7.5vw 1.5rem;
    display: flex;

    @include media-breakpoint-down ($xl) {
        flex-direction: column;
    }

    &__card {
        @include default-text;
        padding: 1.5rem;
        height: auto;
        background-color: $white;
        text-align: justify;
        flex: 1;

        @include media-breakpoint-down ($md) {
            &:not(:first-child) {
                display: none;
            }
        }

        &-wrapper {
            @include flex-row(space-between);
            flex-basis: 85%;
            gap: 1.5rem;

            @include media-breakpoint-down($xl) {
                padding: 1.5rem;
                background: $pink;
            }
        }

        &__content {
            margin-bottom: 1.5rem;
            font-weight: 400;
        }

        &__title {
            margin-bottom: 1.5rem;
            font-size: 2rem;
        }

        &__title a:hover,
        &__cta:hover {
            color: $deep-blush;
            transition: 0.3s;
        }
    }

    &__navigation {
        @include flex-column;
        align-items: center;
        flex-basis: 15%;
        padding: 1.5rem;
        background: $background-image;
        text-align: center;

        &__content {
            @include default-text;
            margin-top: 2rem;
            color: white;
            text-shadow: black 0px 0px 4px;
        }
    }
}