.footer {
    padding: 0 7.5vw;

    p {
        @include default-text;
        margin-top: 0.75rem;
        color: $white;
        text-align: center;
    }

    &__social-links {
        @include flex-row(center, unset);
        margin-bottom: 3rem;
        padding: 0.5rem 0 0;
        gap: 1.5rem;

        img {
            width: 2.5rem;
            height: 2.5rem;

            @include media-breakpoint-down($md) {
                width: 2.25rem;
                height: 2.25rem;
            }
        }
    }

}