.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    background: $la-db-bl-le;
    padding: 1rem;

    &__picture,
    &__bio {
        flex: 1;
    }

    &__picture {
        background-color: #000;
    }

    &__bio {
        text-align: justify;
    }
}