.home {
    @include border;
    width: calc(100% - 15vw);
    margin: 0 auto 1.5rem;
    background: $blue;
    display: flex;

    &__bio {
        @include default-text;
        color: white;
        font-weight: 300;

        &-text {
            padding: 1.5rem;
        }

        &-picture {
            float: right;
            height: 100%;
            display: flex;
            align-items: flex-end;
            shape-outside: inset(calc(100% - 12rem) 0 0);

            img {
                margin-top: 0.5rem;
                width: 10rem;
                height: auto;
                position: relative;
                bottom: -8px;
                right: -10px;
            }
        }
    }
}