.home {
    @include flex-column(center, center);
    padding: var(--section-padding);
    background-image: url('../assets/background/Irises-Vincent_van_Gogh-web.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__bio {
        @include default-text;
        @include flex-row(unset, flex-end);
        border-radius: 0.5rem;
        box-shadow: 0 4px 24px rgba(0, 0, 0, 0.35);
        padding: var(--card-padding) var(--card-padding) 0 var(--card-padding);
        width: 100%;
        background: $white;
        color: $black;

        @include media-breakpoint-down($sm) {
            flex-direction: column;
        }

        &-text {
            margin-bottom: 1.5rem;
        }

        &-picture {
            float: right;
            height: 100%;
            shape-outside: inset(calc(100% - 12rem) 0 0);

            img {
                position: relative;
                bottom: -5.25rem;
                right: -1.75rem;
                margin-top: 0.5rem;
                width: 15rem;
                height: auto;
            }
        }
    }
}