*,
html {
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

html {
    @include media-breakpoint-up($sm) {
        scroll-snap-type: y proximity;
    }
}

body {
    background: $black;
    color: $white;
    overflow-x: hidden;
}

.main {
    min-height: 100vh;

    @include media-breakpoint-up($sm) {
        padding-right: 8rem;
    }
}

.home,
.work-section,
.skills,
.contact-section,
.fun {
    min-height: 100vh;

    @include media-breakpoint-up($sm) {
        height: 100vh;
        overflow-y: auto;
        scroll-snap-align: start;
    }
}