*, html {
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

body {
    background: $sunset;
    background-attachment: fixed;
    color: $white;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 0.75rem;
    }

    &::-webkit-scrollbar-track {
        background: $sunset;
    }

    &::-webkit-scrollbar-thumb {
        border: 1px solid $black;
        background: $yellow;
    }
}

.main {
    min-height: 100vh;
}