*,
html {
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

body {
    background: $sunset;
    background-attachment: fixed;
    color: $white;
    overflow-x: hidden;

    /* iOS specific fix */
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        background-attachment: scroll !important;
    }

    &::-webkit-scrollbar {
        width: 0.75rem;
    }

    &::-webkit-scrollbar-track {
        background: $sunset;
    }

    &::-webkit-scrollbar-thumb {
        border: 1px solid $black;
        background: $yellow;
    }
}

.main {
    min-height: 100vh;
}

.empty {
    margin: 0 auto;
    width: calc(100% - 15vw);
    height: 3rem;

    @include media-breakpoint-down($sm) {
        height: 1.5rem;
    }
}