.work-section {
    @include flex-column(center, stretch);
    padding: 4rem 0;
    gap: 3rem;
    background-image: url('../assets/background/The_Great_Wave_off_Kanagawa.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pivot {
    margin: 0 auto 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.35);
    padding: 2rem;
    width: calc(100% - 15vw);
    background-color: $white;
    color: $black;

    @include media-breakpoint-down($sm) {
        margin-bottom: 0;
    }

    &__text {
        margin-bottom: 1.5rem;
        font-size: 2rem;
        line-height: 1;
    }

    &__card {
        @include default-text;
        padding: 0 1.5rem;
        flex: 1;
        color: $black;

        &:not(:first-child) {
            border-left: 1px solid rgba(0, 0, 0, 0.15);

            @include media-breakpoint-down($sm) {
                border-left: 0;
                padding-left: 0;
                border-top: 1px solid rgba(0, 0, 0, 0.15);
                padding-top: 1rem;
            }
        }

        &-wrapper {
            @include flex-row(space-between, stretch);
            margin: 0 auto;
            flex-wrap: wrap;
            gap: 1.5rem;

            @include media-breakpoint-down($sm) {
                flex-direction: column;
            }
        }

        &__text {
            @include default-text;
            margin-bottom: 1rem;
            line-height: 1;
            font-size: 1rem;
            font-weight: 700;
            color: $black;
            text-shadow: 2px 2px $yellow;
        }

        ul {
            li {
                margin-bottom: 0.75rem;
            }
        }
    }
}

// Responsive design
@media (max-width: 768px) {
    .pivot {
        align-items: center;
    }
}