.skills {
    &__download .fa {
        margin-right: 0.25rem;
    }

    &__text {
        @include default-text;
        margin-bottom: 1.5rem;
        font-size: 1.25rem;
        font-weight: 500;

        @include media-breakpoint-down($sm) {
            display: none;
        }
    }

    &__list {
        @include default-text;
        margin-bottom: 1.5rem;
        text-align: left;

        @include media-breakpoint-down($sm) {
            display: none;
        }

        th,
        td {
            border: 1px solid $border-yellow;
            padding: 0.5rem;
            width: 25%;
            vertical-align: middle;
        }
    }
}
