/*--------------------------- Theme Colours ---------------------------*/

/* Colours */
$trans: transparent;
$white: #fff;
$black: #000;
$dark-blue: #000033;
$dark-blue-50: rgba(0, 0, 51, 0.50);
$blue: #556880;
$blue-35: rgba(85, 104, 128, .5);
$pink: #f7a8b2;
$deep-blush: rgb(193, 110, 100);
$deep-blush-35: rgba(193, 110, 100, 0.35);

/* Gradient */
$la-db-bl-le: linear-gradient(to left, #957dad, #a478a4, #b17399, #bb6f8a, #c06d7a, #c7747c, #cd7c7f, #d38382, #df9398, #eaa5ae, #f4b6c4, #fec8d8);
$sunset: linear-gradient(225deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 70%, rgba(252,176,69,1) 100%);

/*-------------------------- Theme Colours End -------------------------*/


/*-------------------------------- Fonts -------------------------------*/

/*  Serif Font */
$Cormorant: 'Cormorant Garamond', Times, serif;

/*  Sans-Serif Font */
$Spartan: 'Spartan', Arial, Helvetica, sans-serif;

/*------------------------------ Fonts End -----------------------------*/


/*----------------------------- Breakpoints ----------------------------*/

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

/*--------------------------- Breakpoints End --------------------------*/


/*------------------------------- Images -------------------------------*/

$background-image: url('../assets/1.jpg');
$background-image-crop: url('../assets/1-crop.jpg');

/*----------------------------- Images End -----------------------------*/


/*------------------------------- Mixins -------------------------------*/

@mixin media-breakpoint-down($breakpoint) {
    @if $breakpoint==$sm {
        @media (max-width: $sm) {
            @content;
        }
    }

    @else if $breakpoint==$md {
        @media (max-width: $md) {
            @content;
        }
    }

    @else if $breakpoint==$lg {
        @media (max-width: $lg) {
            @content;
        }
    }

    @else {
        @media (max-width: $xl) {
            @content;
        }
    }
}

@mixin media-breakpoint-up($breakpoint) {
    @if $breakpoint==$sm {
        @media (min-width: $sm) {
            @content;
        }
    }

    @else if $breakpoint==$md {
        @media (min-width: $md) {
            @content;
        }
    }

    @else if $breakpoint==$lg {
        @media (min-width: $lg) {
            @content;
        }
    }

    @else {
        @media (min-width: $xl) {
            @content;
        }
    }
}

@mixin flex-row ($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin flex-column($justify-content, $align-items) {
    display: flex;
    flex-direction: column;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.3s) {
    box-shadow: inset 0 0 0 $width $color;
    color: $color;
    transition: color $duration calc($duration/3);
    position: relative;

    &::before,
    &::after {
        border: 0 solid transparent;
        box-sizing: border-box;
        content: '';
        pointer-events: none;
        position: absolute;
        width: 0;
        height: 0;

        #{$vertical}: 0;
        #{$horizontal}: 0;
    }

    &::before {
        $h-side: if($horizontal=='left', 'right', 'left');

        border-#{$vertical}-width: $width;
        border-#{$h-side}-width: $width;
    }

    &::after {
        $v-side: if($vertical=='top', 'bottom', 'top');

        border-#{$v-side}-width: $width;
        border-#{$horizontal}-width: $width;
    }

    &:hover {
        color: $hover;

        &::before,
        &::after {
            border-color: $hover;
            transition: border-color 0s, width $duration, height $duration;
            width: 100%;
            height: 100%;
        }

        &::before {
            transition-delay: 0s, 0s, $duration;
        }

        &::after {
            transition-delay: 0s, $duration, 0s;
        }
    }
}

@mixin border {
    border: 0.5rem solid transparent;
    border-image: $la-db-bl-le 30;
}

@mixin default-text {
    font-family: $Spartan;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: $black;
    font-weight: 600;
}

/*----------------------------- Mixins End -----------------------------*/


/*------------------------------- Common -------------------------------*/

a {
    color: $black;
    text-decoration: none;
}

button {
    @include default-text;
    @include btn-border-drawing($black, $deep-blush, 2px, bottom, right);
    border: none;
    padding: 1rem;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;

    @include media-breakpoint-up($sm) {
        width: 10rem;
    }
}

/*---------------------------- Common Ends -----------------------------*/